<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.csipsimple"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.CONFIGURE_SIP" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- Not taken into account? -->
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />

    <permission
        android:name="android.permission.USE_SIP"
        android:description="@string/permdesc_useSip"
        android:label="@string/permlab_useSip"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="dangerous" />
    <permission
        android:name="android.permission.CONFIGURE_SIP"
        android:description="@string/permdesc_configureSip"
        android:label="@string/permlab_configureSip"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="dangerous" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/sample_app_name" >
        <activity
            android:name=".SampleCSipSimpleAppActivity"
            android:label="@string/sample_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- To be able to do video, this has to be launched in sipStack process -->
        <activity
            android:name="com.csipsimple.ui.InCallActivity2"
            android:allowTaskReparenting="true"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:process=":sipStack"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter android:priority="10" >
                <action android:name="com.csipsimple.phone.action.INCALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Require at least the configure permission to use -->
        <service
            android:name="com.csipsimple.service.SipService"
            android:exported="true"
            android:permission="android.permission.CONFIGURE_SIP"
            android:process=":sipStack" >
            <intent-filter>
                <action android:name="com.csipsimple.service.SipService" />
                <action android:name="com.csipsimple.service.SipConfiguration" />
            </intent-filter>
        </service>

        <!-- Databases providers -->
        <provider
            android:name="com.csipsimple.service.PreferenceProvider"
            android:authorities="com.csipsimple.prefs" />
        <provider
            android:name="com.csipsimple.db.DBProvider"
            android:authorities="com.csipsimple.db"
            android:process=":sipStack" />
    </application>

</manifest>